.portfolio{
    background-color: $color-grey-light-1;
    padding: 5rem 0 5rem 0;

    &-box{
        width: 97%;
        height: auto;
        background-color: $color-white;
        border: 1px solid silver;
        border-radius: 5px;
        position: relative;
        transition: all .5s;
        overflow: hidden;

        &__image{
            width: 100%;
            border-radius: 3px;            
        }
        &__cover{
            background-color:rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
            // opacity: 0.8;
            position: absolute;
            border-radius: 3px;
            top: 0;
            left: 0;
            z-index: 99;
            transition: all .9s;            
        }
        &__content{
            padding: .5rem;
            text-align: center;
            font-size: 1.2rem;
            position: absolute;
            visibility: hidden;
            bottom: -180px;
            font-size: 1.3rem;
            color: $color-white;
            transition: all .9s;
            z-index: 101;
        }

        &:hover > &__content{
            visibility: visible;
            transform: translateY(-210px);
        }
        &:hover > &__logo{
            display: block;
            transform: translateY(-110px);
        }
        &:hover > &__cover{
            background-color:rgba(0, 0, 0, 0.6);
        }
        // }
        // &__cover:hover ~ &__content{
        //     visibility: visible;
        //     transform: translateY(-190px);
        // }
        // &__cover:hover + &__logo{
        //     display: block;
        //     transform: translateY(-70px);
        // }
        // &__cover:hover > &__image{
        //     display: block;
        //     transform: translateY(-70px);
        // }
        

        &__logo{
            border-radius: 4px;
            z-index: 100;
            width: 300px;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            transition: all .9s;
        }
        
        &__text{
            background-color: white;
            padding: 5px;
            display: inline-block;
            vertical-align: top;
        }
        &__title{
            // background-color: $color-primary-dark;
            // background-image: linear-gradient(to right bottom, rgba($color-teal-1, .9), rgba($color-teal-2, .9));
            display: block;
            margin-bottom: .5rem;
            border-radius: 3px;

            &:link,
            &:visited{
                padding: .3rem 1rem .3rem 1rem;
                font-weight: 700;
                color: black;
                text-decoration: none;
            }
        }
        &__p{
            font-size: 1rem;
        }
    }

    
}