// COLORS
$color-primary: #55c57a;
$color-primary-light: #696969;
$color-primary-dark: #464646;

// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2988ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(251, 251, 251);
$color-grey-dark: #303030;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(206, 206, 206);

$color-white: #fff;

$color-black: #000;

// GRID
$grid-width: 70rem;
// $grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 1rem;

// FONT SIZES
$default-font-size: 1.6rem;









// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-color-1: #f5d310;
$theme-color-2: #0d52d6;
$theme-color-3: #303030;
// $theme-color-2: #3490dc;

$color-blue: rgb(6, 52, 122);
$color-blue-2: rgb(6, 44, 100);

$color-blue-3: rgb(52, 59, 71);
$color-blue-4: rgb(28, 32, 39);

$color-red-1: #c9332e;
$color-red-2: #961410;
$color-yellow-1: #ecda30;
$color-yellow-2: #f1d951;
$color-yellow-3: #f5d310;
$color-orange-1: #c47b33;
$color-orange-2: #b6620f;
$color-teal-1: #25a159;
$color-teal-2: #0c6832;

$color-button-blue-1: rgb(21, 82, 175);
$color-button-blue-2: rgb(14, 72, 158);
$color-button-blue-3: #043a66;
$color-button-blue-4: #022949;